{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/components/(.*)$", "^@/(.*)$", "^\\.\\./(.*)$", "^\\./"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
